*{
    margin: 0;
    padding:0;
    box-sizing:border-box;

}
body{
    padding-left: 20px;
    padding-right: 20px;
    overflow:scroll;

}
header{
    /* padding-inline: 30px; */
    display:flex;
    justify-content:space-between;
    align-items:center;
    border: 1.5px solid white;
    /* z-index: 2; */
}

nav{
    display:flex;
}
a,
a:visited,
a:hover,
a:active{
    text-decoration:none;
    color:black;
}
.items{
    display:flex;
    gap: 45px;
    font-size: large;
    margin: left 260px; ;
}
button{
    background-color: white;
    border: 2px solid orange;
    color: black
    padding: 10px 20px;
    border-radius: 12px;
    font-size: large;
    button:hover;
}
.right-head{
    display: flex;
    font-size: x-large;
    gap: 30px;
    color:black;
    
}

.nav{
    list-style:none;
    display:flex;
    list-style:none;
    gap: 20px;
}
 
h1{
    color:black;
    font-size: 4rem;
    text-align: justify;
}
h2{
    color:orange;
    font-size: 4rem;
}
.section-1{
padding-inline:50px;
font-size: 3rem;
}
.blocks{
    background-color: rgba(255, 255, 0, 0.719);
    font-size: 2rem;
}
.right-head {
    display:flex;
    justify-content:end;
}
.block{
    
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 100;
}

.buttons{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.right-login{
    display:flex;
    justify-content:end;
    align-items:self-end;
    gap: 20px;
}

