.paragraph{
    color:brown;



}
.paragraph:hover{
    color:red;
    font-size: 22px;
    font-family: cursive;

}
.paragraph:active{
    color:yellow;
}

.btn{
    border: none;
    background-color:green;
    color:white;
    padding: 8px;
    padding-inline: 15px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 2px 2px 7px black;
}

.btn:hover{
    background-color:blue;
}

.btn:active{
    box-shadow: none;
    scale: 0.8;
}

a:link{
    color: yellow;
}

a:visited{
    color: chocolate;
}

.paragraph::selection{
    background-color: red;
    color: black;
}

.paragraph::first-letter{
    color: sienna;
    font-size: 30px;
}

/* .container::after{
    content: "😶‍🌫️";
} */

::-webkit-scrollbar{
    display: none;
}



input:focus{
    outline: none;
    border: 2px dashed blue;
    border-radius: 20px;
}
