body{
    background-color: rgba(211, 211, 211, 0.345);
    font-family: Arial, sans-serif;
}

h1{
    color: blue;
    text-align: center;
}

.card{
    border: 1px solid black;
    border-radius: 10px;
    display:flex;
    height: 10vw;
    width: fit-content;
    margin: 34px;
}

.card-header{
    background-color: rgb(38, 0, 255);
    color: white;
    font-size: 25px;
}

.card-body{
    text-align: center;
}

.btn{
    background-color: blue;
    color: white;
}

.btn:hover{
    background-color: darkblue;
}